.wrapper {
    position: relative;
    width: fit-content;
    /* margin-bottom: rem(30px); */
}

.dropzone {
    border-width: rem(1px);
    /* padding-bottom: rem(50px); */
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
    /* position: absolute; */
    /* width: rem(150px); */
}